<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>我的信息</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">

    <!-- Template CSS -->
    <link rel="stylesheet" href="../assets/css/style-starter.css">
    <script src="../js/vue.js"></script>
    <script src="../element-ui/lib/index.js"></script>
    <script src="../js/axios-0.18.0.js"></script>
</head>

<body>
<div id="home">
    <header id="site-header" class="fixed-top">
        <section class="w3l-header-4">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <h1><a class="navbar-brand" href="index.html">
                        <span>餐饮分享系统</span>
                    </a></h1>
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                            data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="fa icon-expand fa-bars"></span>
                        <span class="fa icon-close fa-times"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mx-lg-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="index.html">主页 </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="merchant.html">商家列表</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="myOrder.html">我的订单</a>
                            </li>
                            <li class="nav-item">
                                <a v-if="userType==2" class="nav-link" href="complaints.html">处理投诉</a>
                            </li>
                            <li class="nav-item">
                                <a v-if="userType==2" class="nav-link" href="handleMercant.html">审核商家入驻</a>
                            </li>
                            <li class="nav-item active">
                                <a v-if="userType==1" class="nav-link" href="handleOrder.html">接单</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav search-right mt-lg-0 mt-2">
                            <li class="nav-item mr-3" title="Search"><a href="#search" class="btn search-search">
                                <span class="fa fa-search" aria-hidden="true"></span></a></li>
                            <li class="nav-item"><a href="login.html"
                                                    class="btn btn-primary btn-style d-none d-lg-block btn-style mr-2"><span
                                    class="fa fa-phone mr-3" aria-hidden="true"></span> 登录 </a>
                            </li>
                        </ul>
                        <ul>
                            <li><a href="information.html" class="nav-link" id="username"></a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </section>
    </header>

    <section class="w3l-products py-5" id="projects">
        <div class="container py-lg-3">
            <div style="margin-top: 100px">
                <template>
                    <el-table
                            :data="orderitems"
                            style="width: 100%">
                        <el-table-column
                                prop="dishID"
                                label="菜品"
                                align="center">
                            <template slot-scope="scope">
                                {{ getDishName(scope.row.dishID) }}
                            </template>
                        </el-table-column>
                        <el-table-column
                                prop="totalPrice"
                                label="价格"
                                align="center">
                        </el-table-column>
                        <el-table-column
                                prop="status"
                                label="状态"
                                align="center">
                            <template slot-scope="scope">
                                <el-row v-if="scope.row.status==0">未处理</el-row>
                                <el-row v-if="scope.row.status==1">已处理</el-row>
                            </template>
                        </el-table-column>
                        <el-table-column
                                align="center"
                                label="操作">
                            <template slot-scope="scope">
                                <el-button type="primary" @click="receive(scope.row.orderID)">接单</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </template>
            </div>
        </div>
    </section>
</div>
<script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("movetop").style.display = "block";
        } else {
            document.getElementById("movetop").style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>

<script src="../assets/js/jquery-3.3.1.min.js"></script>
<script src="../assets/js/theme-change.js"></script>
<script src="../assets/js/jquery-1.9.1.min.js"></script>

<script src="../assets/js/easyResponsiveTabs.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //Horizontal Tab
        $('#parentHorizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true, // 100% fit in a container
            tabidentify: 'hor_1', // The tab groups identifier
            activate: function (event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#nested-tabInfo');
                var $name = $('span', $info);
                $name.text($tab.text());
                $info.show();
            }
        });
    });
</script>
<script src="../assets/js/owl.carousel.js"></script>
<script>
    $(document).ready(function () {
        $("#owl-demo1").owlCarousel({
            loop: true,
            margin: 20,
            nav: false,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    nav: false
                },
                1000: {
                    items: 1,
                    nav: false,
                    loop: false
                }
            }
        })
    })
</script>
<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
</script>
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<script>
    // 从 localStorage 中获取用户名
    const username = localStorage.getItem('name');
    console.log(localStorage.getItem('name'))
    // 显示用户名在页面上
    if (username != null) {
        document.getElementById('username').textContent = username;
    } else {
        document.getElementById('username').textContent = 'Guest';
    }
</script>
<script src="../js/bootstrap.js"></script>
<script src="../js/jquery-2.2.3.min.js"></script>
<script src="../js/vue.js"></script>
<script src="../element-ui/lib/index.js"></script>
<link rel="stylesheet" href="../element-ui/lib/theme-chalk/index.css">
<script src="../js/axios-0.18.0.js"></script>

<script>
    new Vue({
        el: "#home",
        methods: {
            receive(orderID) {
                let _this = this
                axios({
                    method: 'get',
                    url: 'http://localhost:9080/orderitem/receive/' + orderID,
                    headers: { // 设置请求头
                        Authorization: localStorage.getItem("token")
                    }
                }).then(function (response) {
                    if (response.data.code == 20011) {
                        _this.onReset()
                    } else {
                        alert(response.data.msg)
                    }
                });
            },
            onReset(){
                let _this = this
                axios({
                    method: 'get',
                    url: 'http://localhost:9080/orderitem/getMyOrderItem/' + localStorage.getItem("merchantID"),
                    headers: { // 设置请求头
                        Authorization: localStorage.getItem("token")
                    }
                }).then(function (response) {
                    if (response.data.code == 20041) {
                        _this.orderitems = response.data.data;
                    } else {
                        alert(response.data.msg)
                    }
                });
            },
            beforeAddComment(rowDate) {
                this.comment.orderItemID = rowDate.orderID
                commentVisible = true
            },
            addComment() {
                let _this = this
                axios({
                    method: 'post',
                    url: 'http://localhost:9080/comment/add',
                    data: this.comment,
                    headers: { // 设置请求头
                        Authorization: localStorage.getItem("token")
                    }
                }).then(function (response) {
                    if (response.data.code == 20011) {
                        _this.onReset()
                    } else {
                        alert(response.data.msg)
                    }
                });
            },
            getDishName(dishID) {
                let dishNames = "";
                for (let i = 0; i < this.dishes.length; i++) {
                    if (this.dishes[i].dishID == dishID) {
                        dishNames += this.dishes[i].dishName + ";"; // 将找到的菜品名称拼接到字符串中
                    }
                }
                if (dishNames !== "") {
                    dishNames = dishNames.substring(0, dishNames.length - 1);
                }
                return dishNames
            },
            hideModel() {
                $('#add').modal('hide');
                $('#appointment').modal('hide');
            },
            getUserID() {
                return localStorage.getItem("userID");
            },
            toggleEditing() {
                this.editing = !this.editing;
            },
            beforeUpdate(rowDate) {
                this.complaint = rowDate
                complaintVisible = true
            },
            updateMyComplaint() {
                let _this = this
                axios({
                    method: 'put',
                    url: 'http://localhost:9080/complaint/update',
                    data: this.complaint,
                    headers: { // 设置请求头
                        Authorization: localStorage.getItem("token")
                    }
                }).then(function (response) {
                    if (response.data.code == 20031) {
                        _this.onReset()
                    } else {
                        alert(response.data.msg)
                    }
                });
                this.hideModel()
            },
            deleteMyComplaint(complaintID) {
                let _this = this
                axios({
                    method: 'delete',
                    url: 'http://localhost:9080/complaint/delete/' + complaintID,
                    headers: { // 设置请求头
                        Authorization: localStorage.getItem("token")
                    }
                }).then(function (response) {
                    if (response.data.code == 20021) {
                        _this.onReset()
                    } else {
                        alert(response.data.msg)
                    }
                });
                this.hideModel()
            },
            getMyComplaint() {
                let _this = this
                this.complaint.userID = this.userID
                axios({
                    method: 'post',
                    url: 'http://localhost:9080/complaint/select',
                    data: this.complaint,
                    headers: { // 设置请求头
                        Authorization: localStorage.getItem("token")
                    }
                }).then(function (response) {
                    if (response.data.code == 20041) {
                        _this.complaints = response.data.data;
                    } else {
                        alert(response.data.msg)
                    }
                });
            },
            getMyOrder() {
                let _this = this
                axios({
                    method: 'get',
                    url: 'http://localhost:9080/orderitem/getMyOrder/' + this.userID,
                    headers: { // 设置请求头
                        Authorization: localStorage.getItem("token")
                    }
                }).then(function (response) {
                    if (response.data.code == 20041) {
                        _this.orderitems = response.data.data;
                    } else {
                        alert(response.data.msg)
                    }
                });
            }
        },
        data() {
            return {
                commentVisible: false,
                userType: localStorage.getItem('userType'),
                userID: localStorage.getItem('userID'),
                editing: false,
                changePasswordDialogVisible: false,
                visible: false,
                dishes: [],
                orderitem: {
                    orderID: '',
                    userID: '',
                    dishID: '',
                    totalPrice: '',
                    status: '',
                    createTime: '',
                    modifyTime: '',
                    payType: '',
                },
                orderitems: [],
                comment: {
                    commentID: '',
                    userID: '',
                    dishID: '',
                    rating: '',
                    content: '',
                    timestamp: '',
                    orderItemID: '',
                    reply: ''
                },
            }
        },
        mounted: function () {
            let _this = this
            axios({
                method: 'get',
                url: 'http://localhost:9080/orderitem/getMyOrderItem/' + localStorage.getItem("merchantID"),
                headers: { // 设置请求头
                    Authorization: localStorage.getItem("token")
                }
            }).then(function (response) {
                if (response.data.code == 20041) {
                    _this.orderitems = response.data.data;
                } else {
                    alert(response.data.msg)
                }
            });
            axios({
                method: 'get',
                url: 'http://localhost:9080/dish/getAll',
                headers: { // 设置请求头
                    Authorization: localStorage.getItem("token")
                }
            }).then(function (response) {
                _this.dishes = response.data.data
            });
        }
    })
</script>
</body>

</html>