<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>首页</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">

    <!-- Template CSS -->
    <link rel="stylesheet" href="../assets/css/style-starter.css">
    <script src="../js/vue.js"></script>
    <script src="../element-ui/lib/index.js"></script>
    <script src="../js/axios-0.18.0.js"></script>
</head>

<body>
<div id="home">
    <header id="site-header" class="fixed-top">
        <section class="w3l-header-4">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <h1><a class="navbar-brand" href="index.html">
                        <span>餐饮分享系统</span>
                    </a></h1>
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                            data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="fa icon-expand fa-bars"></span>
                        <span class="fa icon-close fa-times"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mx-lg-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="index.html">主页 </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="merchant.html">商家列表</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="myOrder.html">我的订单</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="myComplaint.html">我的投诉</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="myComment.html">我的评论</a>
                            </li>
                            <li class="nav-item">
                                <a v-if="userType==2" class="nav-link" href="complaints.html">处理投诉</a>
                            </li>
                            <li class="nav-item">
                                <a v-if="userType==2" class="nav-link" href="handleMercant.html">审核商家入驻</a>
                            </li>
                            <li class="nav-item">
                                <a v-if="userType==1" class="nav-link" href="handleOrder.html">接单</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav search-right mt-lg-0 mt-2">
                            <li class="nav-item mr-3" title="Search"><a href="#search" class="btn search-search">
                                <span class="fa fa-search" aria-hidden="true"></span></a></li>
                            <li class="nav-item"><a href="login.html"
                                                    class="btn btn-primary btn-style d-none d-lg-block btn-style mr-2"><span
                                    class="fa fa-phone mr-3" aria-hidden="true"></span> 登录 </a>
                            </li>
                        </ul>
                        <ul>
                            <li><a href="information.html" class="nav-link" id="username"></a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </section>
    </header>

    <!-- banner section -->
    <section class="w3l-banner py-5">
        <div class="container py-lg-5 py-md-4">
            <div class="row align-items-center">
                <div class="col-lg-6 col-sm-12 mt-lg-0 mt-4">
                    <span class="subhny-title mb-2">Fast and Easy</span>
                    <h3 class="mb-4">餐饮分享系统<br></h3>
                    <p>欢迎来到餐饮分享系统，希望可以帮助到你</p>
                    <div class="mt-sm-5 mt-4">
                        <a class="btn btn-outline-primary btn-style mr-2" href="merchant.html"> 开始点单 <span
                                class="fa fa-chevron-right"></span></a>
                        <a class="btn btn-primary btn-style" href="myOrder.html"> 查看我的订单 <span
                                class="fa fa-chevron-right"></span></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-8 col-sm-10 mt-lg-0 mt-5">
                    <div class="img-effect text-lg-center">
                        <img src="../assets/images/pic1.png" alt="banner" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
</body>
<script>
    // 从 localStorage 中获取用户名
    const username = localStorage.getItem('name');
    console.log(localStorage.getItem('name'))
    // 显示用户名在页面上
    if (username != null) {
        document.getElementById('username').textContent = username;
    } else {
        document.getElementById('username').textContent = 'Guest';
    }

    let userType; // 声明一个变量用于存储 userType 的值

    // 获取 localStorage 中的 userType，并将其转换为数字类型
    if (localStorage.getItem("userType") != null) {
        userType = parseInt(localStorage.getItem("userType"));
    } else {
        userType = 0; // 如果 localStorage 中没有 userType，则设置默认值为 0 或其他适当的默认值
    }
    console.log(userType)
</script>
<script>
    new Vue({
        el: "#home",
        data() {
            return {
                userType: localStorage.getItem("userType"),
                user: {
                    userID: '',
                    username: '',
                    password: '',
                    phone: '',
                    email: '',
                    address: '',
                    userType: '',
                    photo: '',
                    rePassword: '',
                    token: ''
                },
            }
        },
        methods: {
        }
    })
</script>
</html>