<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>我的信息</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">

    <!-- Template CSS -->
    <link rel="stylesheet" href="../assets/css/style-starter.css">
    <script src="../js/vue.js"></script>
    <script src="../element-ui/lib/index.js"></script>
    <script src="../js/axios-0.18.0.js"></script>
</head>

<body>
<div id="home">
    <header id="site-header" class="fixed-top">
        <section class="w3l-header-4">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <h1><a class="navbar-brand" href="index.html">
                        <span>餐饮分享系统</span>
                    </a></h1>
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                            data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="fa icon-expand fa-bars"></span>
                        <span class="fa icon-close fa-times"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mx-lg-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="index.html">Home </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="merchant.html">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="services.html">Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contact.html">Contact</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav search-right mt-lg-0 mt-2">
                            <li class="nav-item mr-3" title="Search"><a href="#search" class="btn search-search">
                                <span class="fa fa-search" aria-hidden="true"></span></a></li>
                            <li class="nav-item"><a href="login.html"
                                                    class="btn btn-primary btn-style d-none d-lg-block btn-style mr-2"><span
                                    class="fa fa-phone mr-3" aria-hidden="true"></span> 登录 </a>
                            </li>
                        </ul>
                        <ul>
                            <li><a href="information.html" class="nav-link" id="username"></a></li>
                        </ul>

                        <!-- //toggle switch for light and dark theme -->
                        <!-- search popup -->
                        <div id="search" class="pop-overlay">
                            <div class="popup">
                                <form action="#" method="GET" class="d-sm-flex">
                                    <input type="search" placeholder="Search.." name="search" required="required"
                                           autofocus>
                                    <button type="submit">Search</button>
                                    <a class="close" href="#url">&times;</a>
                                </form>
                            </div>
                        </div>
                        <!-- /search popup -->
                    </div>
                </nav>
            </div>
        </section>
    </header>


    <section class="w3l-products py-5" id="projects">
        <div class="container py-lg-3">
            <el-form style="margin-top: 100px; margin-left: 350px;" :model="user" :inline="true" align="center">

                <el-form-item label="头像">
                    <el-avatar :src="user.photo" :size="80" shape="circle"></el-avatar>
                </el-form-item>
                <br>
                <el-form-item label="姓名">
                    <el-input v-model="user.username" :disabled="!editing"></el-input>
                </el-form-item>
                <br>
                <el-form-item label="电话">
                    <el-input v-model="user.phone" :disabled="!editing"></el-input>
                </el-form-item>
                <br>
                <el-form-item label="邮箱">
                    <el-input v-model="user.email" :disabled="!editing"></el-input>
                </el-form-item>
                <br>
                <el-form-item label="地址">
                    <el-input v-model="user.address" :disabled="!editing"></el-input>
                </el-form-item>
                <br>
                <el-form-item>
                    <el-button v-if="!editing" type="primary" @click="toggleEditing">修改信息</el-button>
                    <el-button v-else type="primary" @click="updateUser">保存</el-button>
                    <br><br>
                    <el-button @click="getMyComment()">查看我的评论</el-button>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="visible=true">修改头像</el-button>
                    <br><br>
                    <el-button @click="getMyComplaint()">查看我的投诉</el-button>
                </el-form-item>
                <el-form-item>
                    <el-button type="danger" @click="showChangePasswordDialog">修改密码</el-button>
                    <br><br>
                    <el-button @click="getMyOrder()">查看我的订单</el-button>
                </el-form-item>
            </el-form>
            <!--修改密码-->
            <el-dialog title="修改密码" :visible.sync="changePasswordDialogVisible">
                <el-form ref="passwordForm" label-width="100px">
                    <el-form-item label="原密码" prop="oldPassword">
                        <el-input type="password" v-model="user.oldPassword"></el-input>
                    </el-form-item>
                    <el-form-item label="新密码" prop="newPassword">
                        <el-input type="password" v-model="user.password"></el-input>
                    </el-form-item>
                    <el-form-item label="重复密码" prop="confirmPassword">
                        <el-input type="password" v-model="user.rePassword"></el-input>
                    </el-form-item>
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="changePasswordDialogVisible = false">取消</el-button>
                    <el-button type="primary" @click="changePassword">确认修改</el-button>
                </div>
            </el-dialog>
            <!--上传图片-->
            <template>
                <div>
                    <el-dialog
                            title="修改头像"
                            :visible.sync="visible"
                            width="30%"
                    >
                        <el-form action="/user/upload" method="post" enctype="multipart/form-data">
                            <!-- 添加隐藏的input字段来传递id的值 -->
                            <input type="hidden" name="userID" :value="getUserID()"></input>
                            <input type="file" name="photo"></input><br><br>
                            <el-input type="submit"></el-input>
                        </el-form>
                    </el-dialog>
                </div>
            </template>

            <!--我的评论-->
            <div>
                <template>
                    <el-table
                            v-if="comments.length"
                            :data="comments"
                            style="width: 100%">
                        <el-table-column
                                prop="merchantID"
                                label="商家ID"
                                align="center">
                        </el-table-column>
                        <el-table-column
                                prop="dishID"
                                label="菜品ID"
                                align="center">
                        </el-table-column>
                        <el-table-column
                                prop="content"
                                label="内容"
                                align="center">
                        </el-table-column>
                        <el-table-column
                                align="center"
                                label="操作">
                            <template slot-scope="scope">
                                <!--                                <el-button type="primary" @click="beforeUpdate(scope.row)">修改</el-button>-->
                                <el-button
                                        type="primary"
                                        @click="deleteComment(scope.row.commentID)">
                                    删除
                                </el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </template>
            </div>
            <!--我的投诉-->
            <div>
                <template>
                    <el-table
                            v-if="complaints.length"
                            :data="complaints"
                            style="width: 100%">
                        <el-table-column
                                prop="merchantID"
                                label="商家ID"
                                align="center">
                        </el-table-column>
                        <el-table-column
                                prop="content"
                                label="内容"
                                align="center">
                        </el-table-column>
                        <el-table-column
                                prop="status"
                                label="状态"
                                align="center">
                            <template slot-scope="scope">
                                <el-row v-if="scope.row.status==0">未处理</el-row>
                                <el-row v-if="scope.row.status==1">已处理</el-row>
                            </template>
                        </el-table-column>
                        <el-table-column
                                align="center"
                                label="操作">
                            <template slot-scope="scope">
                                <el-button type="primary" @click="beforeUpdate(scope.row)">修改</el-button>
                                <el-button
                                        type="primary"
                                        @click="delete(scope.row.complaintID)">
                                    删除
                                </el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </template>
                <template>
                    <div>
                        <el-dialog
                                title="修改"
                                :visible.sync="complaintVisible"
                                width="30%"
                        >
                            <el-form>
                                <input type="text" v-model="complaint.content"></input><br><br>
                                <el-input @click="updateMyComplaint">提交</el-input>
                            </el-form>
                        </el-dialog>
                    </div>
                </template>
            </div>
            <!--我的订单-->
            <div>
                <template>
                    <el-table
                            v-if="orderitems.length"
                            :data="orderitems"
                            style="width: 100%">
                        <el-table-column
                                prop="dishID"
                                label="菜品"
                                align="center">
                            <template slot-scope="scope">
                                {{ getDishName(scope.row.dishID) }}
                            </template>
                        </el-table-column>
                        <el-table-column
                                prop="totalPrice"
                                label="价格"
                                align="center">
                        </el-table-column>
                        <el-table-column
                                prop="status"
                                label="状态"
                                align="center">
                            <template slot-scope="scope">
                                <el-row v-if="scope.row.status==0">未处理</el-row>
                                <el-row v-if="scope.row.status==1">已处理</el-row>
                            </template>
                        </el-table-column>
                        <el-table-column
                                align="center"
                                label="操作">
                            <template slot-scope="scope">
                                <el-button type="primary" @click="beforeUpdate(scope.row)">修改</el-button>
                                <el-button
                                        type="primary"
                                        @click="delete(scope.row.complaintID)">
                                    删除
                                </el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </template>
                <template>
                    <div>
                        <el-dialog
                                title="修改"
                                :visible.sync="complaintVisible"
                                width="30%"
                        >
                            <el-form>
                                <input type="text" v-model="complaint.content"></input><br><br>
                                <el-input @click="updateMyComplaint">提交</el-input>
                            </el-form>
                        </el-dialog>
                    </div>
                </template>
            </div>
        </div>
    </section>
</div>
<script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("movetop").style.display = "block";
        } else {
            document.getElementById("movetop").style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>

<script src="../assets/js/jquery-3.3.1.min.js"></script>
<script src="../assets/js/theme-change.js"></script>
<script src="../assets/js/jquery-1.9.1.min.js"></script>

<script src="../assets/js/easyResponsiveTabs.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //Horizontal Tab
        $('#parentHorizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true, // 100% fit in a container
            tabidentify: 'hor_1', // The tab groups identifier
            activate: function (event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#nested-tabInfo');
                var $name = $('span', $info);
                $name.text($tab.text());
                $info.show();
            }
        });
    });
</script>
<script src="../assets/js/owl.carousel.js"></script>
<script>
    $(document).ready(function () {
        $("#owl-demo1").owlCarousel({
            loop: true,
            margin: 20,
            nav: false,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    nav: false
                },
                1000: {
                    items: 1,
                    nav: false,
                    loop: false
                }
            }
        })
    })
</script>
<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
</script>
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<script>
    // 从 localStorage 中获取用户名
    const username = localStorage.getItem('name');
    console.log(localStorage.getItem('name'))
    // 显示用户名在页面上
    if (username != null) {
        document.getElementById('username').textContent = username;
    } else {
        document.getElementById('username').textContent = 'Guest';
    }
</script>
<script src="../js/bootstrap.js"></script>
<script src="../js/jquery-2.2.3.min.js"></script>
<script src="../js/vue.js"></script>
<script src="../element-ui/lib/index.js"></script>
<link rel="stylesheet" href="../element-ui/lib/theme-chalk/index.css">
<script src="../js/axios-0.18.0.js"></script>

<script>
    new Vue({
        el: "#home",
        methods: {
            getDishName(dishID) {
                let dishNames = "";
                for (let i = 0; i < this.dishes.length; i++) {
                    if (this.dishes[i].dishID === dishID) {
                        dishNames += this.dishes[i].dishName + ";"; // 将找到的菜品名称拼接到字符串中
                    }
                }
                if (dishNames !== "") {
                    dishNames = dishNames.substring(0, dishNames.length - 1);
                }
                this.orderitem.dishID = dishNames
            },
            getMyComment() {
                let _this = this
                axios({
                    method: 'get',
                    url: 'http://localhost:9080/comment',
                    headers: { // 设置请求头
                        Authorization: localStorage.getItem("token")
                    }
                }).then(function (response) {
                    if (response.data.code == 20041) {
                        _this.comments = response.data.data;
                    } else {
                        alert(response.data.msg)
                    }
                });
            },
            deleteComment(commentID) {
                let _this = this
                axios({
                    method: 'delete',
                    url: 'http://localhost:9080/comment/delete/' + commentID,
                    headers: { // 设置请求头
                        Authorization: localStorage.getItem("token")
                    }
                }).then(function (response) {
                    if (response.data.code == 20021) {
                        _this.onReset()
                    } else {
                        alert(response.data.msg)
                    }
                });
            },
            hideModel() {
                $('#add').modal('hide');
                $('#appointment').modal('hide');
            },
            getUserID() {
                return localStorage.getItem("userID");
            },
            toggleEditing() {
                this.editing = !this.editing;
            },
            //重置查询
            onReset() {
                this.complaint = {}
                this.comment = {}
            },
            updateUser() {
                axios({
                    method: 'put',
                    url: 'http://localhost:9080/user/update',
                    data: this.user,
                    headers: { // 设置请求头
                        Authorization: localStorage.getItem("token")
                    }
                }).then(function (response) {
                    if (response.data.code == 20031) {
                        this.user = response.data.data
                    } else {
                        alert(response.data.msg)
                    }
                });
                this.editing = false;
            },
            showChangePasswordDialog() {
                this.changePasswordDialogVisible = true;
                this.user.password = null
            },
            changePassword() {
                let _this = this
                axios({
                    method: 'put',
                    url: 'http://localhost:9080/user/updatePassword',
                    data: this.user,
                    headers: { // 设置请求头
                        Authorization: localStorage.getItem("token")
                    }
                }).then(function (response) {
                    if (response.data.code == 20031) {
                        this.user = response.data.data
                        _this.changePasswordDialogVisible = false;
                    } else {
                        alert(response.data.msg)
                    }
                });
            },
            beforeUpdate(rowDate) {
                this.complaint = rowDate
                complaintVisible = true
            },
            updateMyComplaint() {
                let _this = this
                axios({
                    method: 'put',
                    url: 'http://localhost:9080/complaint/update',
                    data: this.complaint,
                    headers: { // 设置请求头
                        Authorization: localStorage.getItem("token")
                    }
                }).then(function (response) {
                    if (response.data.code == 20031) {
                        _this.onReset()
                    } else {
                        alert(response.data.msg)
                    }
                });
                this.hideModel()
            },
            deleteMyComplaint(complaintID) {
                let _this = this
                axios({
                    method: 'delete',
                    url: 'http://localhost:9080/complaint/delete/' + complaintID,
                    headers: { // 设置请求头
                        Authorization: localStorage.getItem("token")
                    }
                }).then(function (response) {
                    if (response.data.code == 20021) {
                        _this.onReset()
                    } else {
                        alert(response.data.msg)
                    }
                });
                this.hideModel()
            },
            getMyComplaint() {
                let _this = this
                this.complaint.userID = this.userID
                axios({
                    method: 'post',
                    url: 'http://localhost:9080/complaint/select',
                    data: this.complaint,
                    headers: { // 设置请求头
                        Authorization: localStorage.getItem("token")
                    }
                }).then(function (response) {
                    if (response.data.code == 20041) {
                        _this.complaints = response.data.data;
                    } else {
                        alert(response.data.msg)
                    }
                });
            },
            getMyOrder() {
                let _this = this
                axios({
                    method: 'get',
                    url: 'http://localhost:9080/orderitem/getMyOrder/' + this.userID,
                    headers: { // 设置请求头
                        Authorization: localStorage.getItem("token")
                    }
                }).then(function (response) {
                    if (response.data.code == 20041) {
                        _this.orderitems = response.data.data;
                    } else {
                        alert(response.data.msg)
                    }
                });
            }
        },
        data() {
            return {
                userType: localStorage.getItem('userType'),
                userID: localStorage.getItem('userID'),
                editing: false,
                changePasswordDialogVisible: false,
                visible: false,
                availableDates: [], // 存储可用的预约日期
                user: {
                    userID: '',
                    username: '',
                    phone: '',
                    address: '',
                    email: '',
                    password: '',
                    oldPassword: '',
                    rePassword: '',
                    createTime: '',
                    modifyTime: ''
                },
                complaints: [],
                complaint: {
                    complaintID: '',
                    userID: '',
                    merchantID: '',
                    content: '',
                    createTime: '',
                    modifyTime: '',
                    status: '',
                    handleID: ''
                },
                orderitem: {
                    orderID: '',
                    userID: '',
                    dishID: '',
                    totalPrice: '',
                    status: '',
                    createTime: '',
                    modifyTime: '',
                    payType: '',
                },
                orderitems: [],
                comment: {
                    commentID: '',
                    userID: '',
                    dishID: '',
                    rating: '',
                    content: '',
                    timestamp: '',
                    merchantID: '',
                    reply: ''
                },
                comments: [],
                dishes: [],
            }
        },
        mounted: function () {
            let _this = this;
            axios({
                method: 'get',
                url: 'http://localhost:9080/dish/getAll',
                headers: { // 设置请求头
                    Authorization: localStorage.getItem("token")
                }
            }).then(function (response) {
                _this.dishes = response.data.data
            });
            axios({
                method: 'get',
                url: 'http://localhost:9080/user/userInfo',
                headers: { // 设置请求头
                    Authorization: localStorage.getItem("token")
                }
            }).then(function (response) {
                _this.user = response.data.data
            });
        }
    })
</script>
</body>

</html>