<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>商家列表</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">

    <!-- Template CSS -->
    <link rel="stylesheet" href="../assets/css/style-starter.css">
    <script src="../js/vue.js"></script>
    <script src="../element-ui/lib/index.js"></script>
    <script src="../js/axios-0.18.0.js"></script>
</head>

<body>
<div id="app">
    <header id="site-header" class="fixed-top">
        <section class="w3l-header-4">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <h1><a class="navbar-brand" href="index.html">
                        <span>餐饮分享系统</span>
                    </a></h1>
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                            data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="fa icon-expand fa-bars"></span>
                        <span class="fa icon-close fa-times"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mx-lg-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="index.html">主页 </a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="merchant.html">商家列表</a>
                            </li>
                            <li class="nav-item">
                                <a v-if="userType==2" class="nav-link" href="complaints.html">处理投诉</a>
                            </li>
                            <li class="nav-item">
                                <a v-if="userType==2" class="nav-link" href="handleMercant.html">审核商家入驻</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav search-right mt-lg-0 mt-2">
                            <li class="nav-item mr-3" title="Search"><a href="#search" class="btn search-search">
                                <span class="fa fa-search" aria-hidden="true"></span></a></li>
                            <li class="nav-item"><a href="login.html"
                                                    class="btn btn-primary btn-style d-none d-lg-block btn-style mr-2"><span
                                    class="fa fa-phone mr-3" aria-hidden="true"></span> 登录 </a>
                            </li>
                        </ul>
                        <ul>
                            <li><a href="information.html" class="nav-link" id="username"></a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </section>
    </header>

    <section class="w3l-about-breadcrumb text-left">
        <div class="breadcrumb-bg breadcrumb-bg-about py-3">
            <div class="container grid-breadcrumb">
                <ul class="breadcrumbs-custom-path mt-md-2">
                    <li><a href="index.html">主页</a></li>
                    <li class="active"><span class="fa fa-angle-double-right mx-2" aria-hidden="true"></span>商家列表</li>
                </ul>
            </div>
        </div>
    </section>
    <!--搜索表单-->
    <el-form :inline="true" :model="merchant" class="demo-form-inline" style="margin-left: 20px">
        <el-form-item label="根据商家ID搜索">
            <el-input v-model="merchant.merchantID" placeholder="商家ID"></el-input>
        </el-form-item>
        <el-form-item label="商家名称">
            <el-input v-model="merchant.merchantName" placeholder="商家名称"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="onSubmit">查询</el-button>
            <el-button type="primary" @click="onReset">重置</el-button>
            <el-button type="primary" data-toggle="modal" data-target="#add" @click="beforeAdd" v-if="userType==2">
                新增
            </el-button>
            <el-button type="primary" data-toggle="modal" data-target="#add" @click="beforeAdd" v-if="userType==0">
                商家注册
            </el-button>
            <el-button type="primary" data-toggle="modal" data-target="#complaint"
                       @click="beforeAddComplaint(scope.row.merchantID)">投诉
            </el-button>
            <el-button type="primary" @click="getLocation">获取位置并查询附近商家</el-button> <!-- 添加获取位置按钮 -->
        </el-form-item>
    </el-form>
    <!--商家列表-->
    <template>
        <div>
            <el-table
                    :data="merchants"
                    style="width: 100%">
                <el-table-column
                        prop="photo"
                        label="商家头像"
                        align="center">
                    <template slot-scope="scope">
                        <img
                                :src="scope.row.photo"
                                alt="商家头像"
                                style="width: 50px; height: 50px; border-radius: 50%;">
                    </template>
                </el-table-column>
                <el-table-column
                        prop="merchantName"
                        label="商家名称"
                        align="center">
                </el-table-column>
                <el-table-column
                        prop="phone"
                        label="电话"
                        align="center">
                </el-table-column>
                <el-table-column
                        prop="address"
                        label="地址"
                        align="center">
                </el-table-column>
                <el-table-column
                        align="center"
                        label="操作">
                    <template slot-scope="scope">
                        <el-button type="primary" v-if="userType==2" @click="beforeUpdatePhoto(scope.row.merchantID)">
                            修改图片
                        </el-button>
                        <el-button
                                type="primary"
                                @click="checkMerchant(scope.row.merchantID)">
                            查看商家菜品
                        </el-button>
                        <el-button
                                type="primary"
                                @click="selectByMerchantID(scope.row.merchantID)">
                            查看商家菜品
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>
    </template>

    <!--新增,编辑-->
    <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" v-if="updateFlag==0">新增商家</h5>
                    <h5 class="modal-title" v-else>编辑商家</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group" v-if="userType==2">
                        <label class="col-form-label">商家身份证号</label>
                        <input type="number" class="form-control" v-model="merchant.userID"
                               placeholder=" "
                               name="Name"
                               required="">
                    </div>
                    <div class="form-group" v-else>
                        <label class="col-form-label">商家身份证号</label>
                        <el-input disabled :value="getUserID()" v-model="merchant.userID"></el-input>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">商家名称</label>
                        <input type="text" class="form-control" v-model="merchant.merchantName" placeholder=" "
                               name="Password"
                               required="">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">邮箱</label>
                        <input type="number" class="form-control" v-model="merchant.email"
                               placeholder=" "
                               name="Password"
                               required="">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">电话</label>
                        <input type="text" class="form-control" v-model="merchant.phone"
                               placeholder=" "
                               name="Password"
                               required="">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">地址</label>
                        <input type="text" class="form-control" v-model="merchant.address"
                               placeholder=" "
                               name="Password"
                               required="">
                    </div>
                    <div class="right-w3l">
                        <input @click="addMerchant" type="submit" class="form-control" value="确定">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--投诉-->
    <div class="modal fade" id="complaint" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">新增投诉</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-form-label">投诉内容</label>
                        <input type="text" class="form-control" v-model="complaint.content" placeholder=" "
                               required="">
                    </div>
                    <div class="right-w3l">
                        <input @click="addComplaint" type="submit" class="form-control" value="确定">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--修改图片-->
    <template>
        <div>
            <el-dialog
                    title="修改图片"
                    :visible.sync="visible"
                    width="30%"
            >
                <el-form action="/merchant/upload" method="post" enctype="multipart/form-data">
                    <!-- 添加隐藏的input字段来传递id的值 -->
                    <input type="hidden" name="merchantID" :value="getMerchantID()"></input>
                    <input type="file" name="photo"></input><br><br>
                    <el-input type="submit"></el-input>
                </el-form>
            </el-dialog>
        </div>
    </template>

    <!--评论-->
    <div>
        <template>
            <div v-if="comments.length">
                <!-- 循环渲染评论 -->
                <div v-for="comment in comments" :key="comment.commentID">
                    <div>{{ comment.content }}</div>
                    <div>{{ comment.userID }} - {{ comment.timestamp }}</div>

                    <!-- 如果有回复，则循环渲染回复 -->
                    <div v-if="comment.replies && comment.replies.length > 0">
                        <div v-for="reply in comment.replies" :key="reply.replyID">
                            <div>{{ reply.content }}</div>
                            <div>{{ reply.userID }} - {{ reply.timestamp }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </div>

</div>
<script src="../assets/js/jquery-3.3.1.min.js"></script>
<script src="../assets/js/theme-change.js"></script>
<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
</script>
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<script src="../assets/js/bootstrap.min.js"></script>
<script src="../js/vue.js"></script>
<script src="../element-ui/lib/index.js"></script>
<link rel="stylesheet" href="../element-ui/lib/theme-chalk/index.css">
<script src="../js/axios-0.18.0.js"></script>
<script>
    new Vue({
        el: "#app",
        methods: {
            getUserID() {
                this.merchant.userID = localStorage.getItem("userID");
            },
            beforeUpdatePhoto(merchantID) {
                this.visible = true
                this.merchant.merchantID = merchantID
            },
            getMerchantID() {
                return this.merchant.merchantID
            },
            /*获取定位*/
            getLocation() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(
                        position => {
                            // 获取成功时将地理位置信息存储在userLocation中
                            this.user = {
                                userLat: position.coords.latitude,
                                userLng: position.coords.longitude
                            };
                            console.log(this.userLocation)
                        },
                        error => {
                            console.error('获取位置失败:', error);
                        }
                    );
                } else {
                    console.error('浏览器不支持地理定位');
                }
                /*查询附近商家*/
                let _this = this
                axios({
                    method: 'post',
                    url: 'http://localhost:9080/merchant/searchNearbyMerchants',
                    data: this.user,
                    headers: { // 设置请求头
                        Authorization: localStorage.getItem("token")
                    }
                }).then(function (response) {
                    _this.merchants = response.data.data
                });
            },
            /*查看商家菜品*/
            checkMerchant(merchantID) {
                localStorage.setItem("merchantID", merchantID);
                location.href = "dish.html"
            },
            /*查看商家评论*/
            selectByMerchantID(merchantID) {
                let _this = this
                axios({
                    method: 'get',
                    url: 'http://localhost:9080/comment/selectByMerchantID/' + merchantID,
                    headers: { // 设置请求头
                        Authorization: localStorage.getItem("token")
                    }
                }).then(function (response) {
                    if (response.data.code == 20041) {
                        _this.comments = response.data.data;
                    } else {
                        alert(response.data.msg)
                    }
                });
            },
            hideModel() {
                $('#add').modal('hide');
                $('#complaint').modal('hide');
            },
            // 查询方法
            onSubmit() {
                let _this = this
                axios({
                    method: 'post',
                    url: 'http://localhost:9080/merchant/select',
                    data: this.merchant,
                    headers: { // 设置请求头
                        Authorization: localStorage.getItem("token")
                    }
                }).then(function (response) {
                    if (response.data.code == 20041) {
                        _this.merchants = response.data.data;
                    } else {
                        alert(response.data.msg)
                    }
                });
            },
            //重置查询
            onReset() {
                this.beforeAdd()
                this.onSubmit()
            },
            beforeAdd() {
                this.updateFlag = 0
                this.merchant.merchantID = null
                this.merchant.merchantName = null
                this.merchant.email = null
                this.merchant.phone = null
                this.merchant.address = null
                this.merchant.approvalStatus = null
                this.merchant.photo = null
                this.merchant.longitude = null
                this.merchant.latitude = null
                this.complaint.complaintID = null
                this.complaint.userID = null
                this.complaint.merchantID = null
                this.complaint.content = null
                this.complaint.createTime = null
                this.complaint.modifyTime = null
                this.complaint.status = null
                this.complaint.handleI = null
            },
            addMerchant() {
                let _this = this
                if (_this.updateFlag == 1) {
                    axios({
                        method: 'put',
                        url: 'http://localhost:9080/merchant/update',
                        data: this.merchant,
                        headers: { // 设置请求头
                            Authorization: localStorage.getItem("token")
                        }
                    }).then(function (response) {
                        if (response.data.code == 20031) {
                            _this.onReset()
                        } else {
                            alert(response.data.msg)
                        }
                    });
                } else {
                    if (navigator.geolocation) {
                        navigator.geolocation.getCurrentPosition(
                            position => {
                                // 获取成功时将地理位置信息存储在userLocation中
                                this.user = {
                                    userLat: position.coords.latitude,
                                    userLng: position.coords.longitude
                                };
                                console.log(this.userLocation)
                                this.merchant.longitude = this.user.userLng
                                this.merchant.latitude = this.user.userLat
                                console.log(this.merchant.longitude)
                                console.log(this.merchant.latitude)
                                axios({
                                    method: 'post',
                                    url: 'http://localhost:9080/merchant/add',
                                    data: this.merchant,
                                    headers: { // 设置请求头
                                        Authorization: localStorage.getItem("token")
                                    }
                                }).then(function (response) {
                                    if (response.data.code == 20011) {
                                        _this.onReset()
                                    } else {
                                        alert(response.data.msg)
                                    }
                                });
                            },
                            error => {
                                console.error('获取位置失败:', error);
                            }
                        );
                    } else {
                        console.error('浏览器不支持地理定位');
                    }
                }
                this.hideModel()
            },
            beforeUpdate(rowDate) {
                this.merchant = rowDate
                this.updateFlag = 1
            },
            deleteMerchant(rowDate) {
                let _this = this
                this.merchant = rowDate
                axios({
                    method: 'delete',
                    url: 'http://localhost:9080/merchant/delete/' + this.merchant.merchantID,
                    headers: { // 设置请求头
                        Authorization: localStorage.getItem("token")
                    }
                }).then(function (response) {
                    if (response.data.code == 20021) {
                        _this.onReset()
                    } else {
                        alert(response.data.msg)
                    }
                });
            },
            beforeAddComplaint(merchantID) {
                this.complaint.merchantID = merchantID
            },
            /*增加投诉*/
            addComplaint() {
                let _this = this
                axios({
                    method: 'post',
                    url: 'http://localhost:9080/complaint/add',
                    data: this.complaint,
                    headers: { // 设置请求头
                        Authorization: localStorage.getItem("token")
                    }
                }).then(function (response) {
                    if (response.data.code == 20011) {
                        _this.onReset()
                        _this.hideModel()
                    } else {
                        alert(response.data.msg)
                    }
                });
            }
        },
        data() {
            return {
                userType: localStorage.getItem('userType'),
                userId: localStorage.getItem('userID'),
                updateFlag: 0,
                visible: false,
                user: {
                    userLat: '',
                    userLng: ''
                },
                userLocation: null,// 用于存储用户地理位置信息
                complaint: {
                    complaintID: '',
                    userID: '',
                    merchantID: '',
                    content: '',
                    createTime: '',
                    modifyTime: '',
                    status: '',
                    handleID: ''
                },
                merchant: {
                    merchantID: '',
                    merchantName: '',
                    email: '',
                    phone: '',
                    address: '',
                    approvalStatus: '',
                    userID: '',
                    longitude: '',
                    latitude: '',
                    isdel: '',
                    photo: ''
                },
                merchants: [{
                    merchantID: '',
                    merchantName: '',
                    email: '',
                    phone: '',
                    address: '',
                    approvalStatus: '',
                    userID: '',
                    longitude: '',
                    latitude: '',
                    isdel: '',
                    photo: ''
                }],
                appointments: [],
                appointment: {
                    doctorID: '',
                    userID: '',
                    appointmentDate: '',
                    appointmentNotes: ''
                },
                comments: []
            }
        },
        mounted: function () {
            let _this = this;
            axios({
                method: 'get',
                url: 'http://localhost:9080/merchant/getAll',
                headers: { // 设置请求头
                    Authorization: localStorage.getItem("token")
                }
                // responseType: 'stream'
            }).then(function (response) {
                _this.merchants = response.data.data
            });
        }
    })
</script>
</body>

</html>