<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>查看商家评论</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">

    <!-- Template CSS -->
    <link rel="stylesheet" href="../assets/css/style-starter.css">
    <script src="../js/vue.js"></script>
    <script src="../element-ui/lib/index.js"></script>
    <script src="../js/axios-0.18.0.js"></script>
</head>

<body>
<div id="app">
    <header id="site-header" class="fixed-top">
        <section class="w3l-header-4">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <h1><a class="navbar-brand" href="index.html">
                        <span>餐饮分享系统</span>
                    </a></h1>
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                            data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="fa icon-expand fa-bars"></span>
                        <span class="fa icon-close fa-times"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mx-lg-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="index.html">主页 </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="merchant.html">商家列表</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="myOrder.html">我的订单</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="myComment.html">我的评论</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="myComplaint.html">我的投诉</a>
                            </li>
                            <li class="nav-item">
                                <a v-if="userType==2" class="nav-link" href="complaints.html">处理投诉</a>
                            </li>
                            <li class="nav-item">
                                <a v-if="userType==2" class="nav-link" href="handleMercant.html">审核商家入驻</a>
                            </li>
                            <li class="nav-item">
                                <a v-if="userType==1" class="nav-link" href="handleOrder.html">接单</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav search-right mt-lg-0 mt-2">
                            <li class="nav-item mr-3" title="Search"><a href="#search" class="btn search-search">
                                <span class="fa fa-search" aria-hidden="true"></span></a></li>
                            <li class="nav-item"><a href="login.html"
                                                    class="btn btn-primary btn-style d-none d-lg-block btn-style mr-2"><span
                                    class="fa fa-phone mr-3" aria-hidden="true"></span> 登录 </a>
                            </li>
                        </ul>
                        <ul>
                            <li><a href="information.html" class="nav-link" id="username"></a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </section>
    </header>
    <section class="w3l-about-breadcrumb text-left">
        <div class="breadcrumb-bg breadcrumb-bg-about py-3">
            <div class="container grid-breadcrumb">
                <ul class="breadcrumbs-custom-path mt-md-2">
                    <li><a href="index.html">主页</a></li>
                    <li class="active"><span class="fa fa-angle-double-right mx-2" aria-hidden="true"></span><a
                            href="merchant.html">商家列表</a>
                    </li>
                    <li class="active"><span class="fa fa-angle-double-right mx-2" aria-hidden="true"></span>我的评论</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="w3l-products py-5" id="projects">
        <div class="container py-lg-3">
            <div>
                <template>
                    <div>
                        <h2>评论列表</h2>
                        <div v-for="comment in comments" :key="comment.complaintID" class="comment-container">
                            <p class="comment-content">内容：{{ comment.content }}</p>
                            <p class="comment-user">用户ID: {{ comment.userID }}</p>
                            <button @click="beforeAddComment(comment)">回复</button>
                            <div v-if="comment.reply.length > 0" class="reply-container">
                                <h4>回复：</h4>
                                <div v-for="reply1 in comment.reply" :key="reply1.complaintID" class="reply">
                                    <p>{{ reply1.content }}</p>
                                    <p>用户ID: {{ reply1.userID }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
        </div>

        <template>
            <div>
                <el-dialog
                        title="回复评论"
                        :visible.sync="commentVisible"
                        width="30%">
                    <el-form>
                        内容：<input type="text" v-model="comment.content"></input><br><br>
                        <el-button @click="addComment">提交</el-button>
                    </el-form>
                </el-dialog>
            </div>
        </template>

    </section>

</div>
<script src="../assets/js/jquery-3.3.1.min.js"></script>
<script src="../assets/js/theme-change.js"></script>
<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
</script>
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<script>
    // 从 localStorage 中获取用户名
    const username = localStorage.getItem('name');
    console.log(localStorage.getItem('name'))
    // 显示用户名在页面上
    if (username != null) {
        document.getElementById('username').textContent = username;
    } else {
        document.getElementById('username').textContent = 'Guest';
    }
</script>
<script src="../assets/js/bootstrap.min.js"></script>
<script src="../js/vue.js"></script>
<script src="../element-ui/lib/index.js"></script>
<link rel="stylesheet" href="../element-ui/lib/theme-chalk/index.css">
<script src="../js/axios-0.18.0.js"></script>
<style>
    .comment-container {
        margin-bottom: 20px;
        padding: 10px;
        background-color: #f9f9f9;
        border: 1px solid #ccc;
    }

    .comment-content {
        font-weight: bold;
    }

    .comment-user {
        margin-bottom: 5px;
    }

    .reply-container {
        margin-top: 10px;
    }

    .reply {
        margin-top: 5px;
        padding: 5px;
        background-color: #f0f0f0;
        border: 1px solid #ddd;
    }
</style>

<script>
    new Vue({
        el: "#app",
        methods: {
            //重置查询
            onReset() {
                this.comment = {}
                let _this = this
                axios({
                    method: 'get',
                    url: 'http://localhost:9080/comment/selectByMerchantID/' + localStorage.getItem("merchantID"),
                    headers: { // 设置请求头
                        Authorization: localStorage.getItem("token")
                    }
                }).then(function (response) {
                    if (response.data.code == 20041) {
                        _this.comments = response.data.data;
                    } else {
                        alert(response.data.msg)
                    }
                });
            },
            // 添加评论
            addComment() {
                console.log("添加评论")
                // 构造评论对象，包括 userID、merchantID、content 等字段
                // 调用后端接口将评论对象发送到服务器保存
                // 清空输入框内容
                // 刷新评论列表
                // ...
            },
            // 回复评论
            beforeAddComment(rowDate) {
                this.comment.merchantID = rowDate.merchantID
                this.comment.rating = rowDate.commentID
                console.log(rowDate.commentID)
                console.log(this.comment.rating)
                this.commentVisible = true
            },
            addComment() {
                let _this = this
                console.log(this.comment)
                axios({
                    method: 'post',
                    url: 'http://localhost:9080/comment/add',
                    data: this.comment,
                    headers: { // 设置请求头
                        Authorization: localStorage.getItem("token")
                    }
                }).then(function (response) {
                    if (response.data.code == 20011) {
                        _this.onReset()
                        _this.commentVisible = false
                    } else {
                        alert(response.data.msg)
                    }
                });
            },
        },
        data() {
            return {
                userType: localStorage.getItem('userType'),
                userId: localStorage.getItem('userID'),
                merchantID: localStorage.getItem("merchantID"),
                commentVisible : false,
                comments: [],
                comment: {}
            }
        },
        mounted: function () {
            let _this = this
            axios({
                method: 'get',
                url: 'http://localhost:9080/comment',
                headers: { // 设置请求头
                    Authorization: localStorage.getItem("token")
                }
            }).then(function (response) {
                if (response.data.code == 20041) {
                    _this.comments = response.data.data;
                } else {
                    alert(response.data.msg)
                }
            });
        }
    })
</script>
</body>

</html>